<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body>

<div th:insert="navbar :: navigation" ></div>

<a th:href="@{/contact.html}">Contact page</a>
<br/>
<a th:href="@{/index.html}">fever page</a>
<br/>

</div>

<div th:insert="footer :: footer"></div>

</body>
</html>